.container {
  @include container();
}

.white {
  color: $color-white !important;
}

.secondary {
  color: $color-secondary !important;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}