.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .navbar__logo-img {
        transform: rotate(-5deg) translateX(-10px);
      }
    }

    &-img {
      @include transition();
      width: 75px;
      height: 75px;
    }

    &-text {
      color: $color-white;
      font-family: $font-family-montserrat;
      font-size: $font-45;
      letter-spacing: 2px;
    }

    &:hover {
      text-decoration: none;
      
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 100px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // margin: 0 $m-5;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    text-decoration: none;
    color: $color-white;
    font-family: $font-family-montserrat;
    text-align: center;

    font-size: $font-15;
    letter-spacing: -0.225px;

    &:hover {
      text-decoration: none;
      color: $color-white;
    }
  }
}