.section {
  padding: $p-2 0;

  &-1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-image: url("../../img/background-header.jpg");
  }

  &-3 {
    background-color: $color-green;

    &:hover {
      .image {
        @include transition();
        transform: scale(1.03);
      }
    }
  }

  &-4 {
    background-color: $color-white;
  }

  &-5 {
    background-color: $color-primary;
  }

  &__lists {
    padding: $p-2;

    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      padding: $p-1;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
    }
  }

  &__block {
    padding: $p-2;

    display: flex;

    justify-content: center;
    align-items: center;

    &-description {
      padding: $p-1;

      width: 50%;
      height: 500px;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
    }
  }

  &-info {
    width: 100%;
    padding: $p-5;
    background-image: url(../../img/background-info.jpg);

    opacity: 0;
    transition: opacity 0.3s ease;

    &.show {
      opacity: 1;
    }
  }
}