*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.white {
  color: #FFF !important;
}

.secondary {
  color: #D79D6B !important;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.svg {
  transition: all 0.3s;
}
.svg:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#player {
  flex-wrap: nowrap;
}

#info {
  flex-wrap: nowrap;
}

#infoContainer {
  padding-bottom: 5rem;
  width: 1440px;
}

.figureIMG {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btns {
  transition: all 0.3s;
  display: inline-block;
  width: 130px;
  height: 40px;
  margin: 2rem;
  text-decoration: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: -0.225px;
  text-align: center;
}
.btns__info {
  background-color: #FFF;
  color: #D79D6B;
  border: 1px solid #000000;
}
.btns__info:hover {
  transform: translateY(-3px);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btns__link {
  background-color: #D79D6B;
  color: #FFF;
}
.btns__link:hover {
  transform: translateY(-3px);
  text-decoration: none;
  cursor: pointer;
}

.title {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.title-main {
  padding: 2rem 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.72px;
}
.title-sub {
  padding: 1.5rem 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.36px;
}
.title-description {
  padding: 1rem 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.21px;
}
.title-header {
  padding: 15rem 0;
  color: #FFF;
  font-size: 96px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -1.44px;
}

.header {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C2520;
}
.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 2rem 0;
}
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/background-header.jpg");
}
.section-3 {
  background-color: #1C2520;
}
.section-3:hover .image {
  transition: all 0.3s;
  transform: scale(1.03);
}
.section-4 {
  background-color: #FFF;
}
.section-5 {
  background-color: #F4D2B4;
}
.section__lists {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__lists-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__block {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__block-description {
  padding: 1rem;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-info {
  width: 100%;
  padding: 5rem;
  background-image: url(../../img/background-info.jpg);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.section-info.show {
  opacity: 1;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 5rem;
  background-color: #1C2520;
}

.line {
  width: 80%;
  height: 3px;
  border-radius: 1.5px;
  margin: 1rem 0;
  background-color: #F4D2B4;
}

.lists {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lists__item {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lists__item-image {
  width: 211px;
  height: 333px;
  -o-object-fit: cover;
     object-fit: cover;
}
.lists__item-image:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo:hover .navbar__logo-img {
  transform: rotate(-5deg) translateX(-10px);
}
.navbar__logo-img {
  transition: all 0.3s;
  width: 75px;
  height: 75px;
}
.navbar__logo-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
}
.navbar__logo:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.navbar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 15px;
  letter-spacing: -0.225px;
}
.navbar__link:hover {
  text-decoration: none;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
}

.divv {
  display: flex;
}

li {
  list-style: none;
  display: grid;
  place-items: center;
  font-size: 0px;
}

.box {
  margin: 0.5px;
  width: 75px;
  height: 75px;
}

#tog {
  margin: 10px 0px;
}

.allimg {
  width: 45px;
  position: relative;
  bottom: 5px;
}

.allpawn {
  transform: scale(0.7);
}

.authcont {
  width: 100vw;
}

.author {
  float: right;
  margin-right: 50px;
}

@media (max-width: 650px) {
  #tog {
    margin-bottom: 70px;
  }
  .box {
    width: 11vw;
    height: 11vw;
  }
  .allimg {
    width: 7vw;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #37383A;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #D79D6B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D79D6B;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #FFF;
}

@media screen and (max-width: 900px) {
  #header-subs {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #F4D2B4;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #F4D2B4;
  }
  .header .navbar__list {
    transition: all 0.3s;
    position: fixed;
    top: 75px;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4D2B4;
    opacity: 0;
    visibility: hidden;
    padding: 0 1rem;
    gap: 0;
  }
  .header .navbar__list.active {
    opacity: 1;
    visibility: visible;
  }
  .header .navbar__item {
    margin: 2rem 2rem;
  }
  .header .navbar__link {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
  }
  .header .navbar__link:hover {
    color: #FFF;
  }
  .title-main {
    font-size: 2rem;
  }
  .title-sub {
    font-size: 1.5rem;
  }
  .title-description {
    font-size: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .header .navbar__list {
    top: 104px;
    width: 100%;
    padding: 0.5rem 2rem;
    gap: 0;
  }
  .header {
    padding: 1rem 1.5rem;
  }
  .navbar__item {
    margin: 1rem 0;
  }
  .navbar__link {
    font-size: 1rem;
  }
  .title-header {
    font-size: 3rem;
  }
  .title-main {
    font-size: 2rem;
  }
  .title-sub {
    font-size: 1rem;
  }
  .title-description {
    font-size: 0.75rem;
  }
  .image {
    display: none;
  }
  .line {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=main.css.map */