*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.white {
  color: #FFF !important;
}

.secondary {
  color: #D79D6B !important;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btns {
  transition: all 0.3s;
  display: inline-block;
  width: 130px;
  height: 40px;
  margin: 2rem;
  text-decoration: none;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: -0.225px;
  text-align: center;
}
.btns__info {
  background-color: #FFF;
  color: #D79D6B;
  border: 1px solid #000000;
}
.btns__info:hover {
  transform: translateY(-3px);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btns__link {
  background-color: #D79D6B;
  color: #FFF;
}
.btns__link:hover {
  transform: translateY(-3px);
  text-decoration: none;
  cursor: pointer;
}

.title {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.title-main {
  padding: 2rem 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.72px;
}
.title-sub {
  padding: 1.5rem 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.36px;
}
.title-description {
  padding: 1rem 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.21px;
}
.title-header {
  padding: 15rem 0;
  color: #FFF;
  font-size: 96px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -1.44px;
}

.header {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C2520;
}

.section {
  padding: 2rem 0;
}
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/background-header.jpg");
}
.section-3 {
  background-color: #1C2520;
}
.section-4 {
  background-color: #FFF;
}
.section-5 {
  background-color: #F4D2B4;
}
.section__lists {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__lists-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 5rem 0;
  background-color: #1C2520;
}

.line {
  width: 80%;
  height: 3px;
  border-radius: 1.5px;
  margin: 1rem 0;
  background-color: #F4D2B4;
}

.lists {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lists__item {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lists__item-image {
  width: 211px;
  height: 333px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo-img {
  width: 75px;
  height: 75px;
}
.navbar__logo-text {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
}
.navbar__logo:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 15px;
  letter-spacing: -0.225px;
}
.navbar__link:hover {
  text-decoration: none;
  color: #FFF;
}/*# sourceMappingURL=main.css.map */